@{
    ViewData["Title"] = "About";
}


<div class="text-md-left">
    <h2 class="text-danger">Sobre a empresa</h2>
    <p1 class="text-dark">Empresa com o portifólio no desenvolvimento de sistemas com a finalidade de aumtomação de tarefas</p1>
</div>

