@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo.</h1>
    <h2>Supermercado do Carlos</h2>
    <p>Leia sobre <a href="https://www.supervasco.com" target="_blank">Conheça mais sobre a história linda por trás deste projeto.</a></p>
</div>
<br />
<br />



<!--
 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://laticiniosdavaca.com.br/wp-content/uploads/2015/10/corte_coalho_prod-485x500.jpg" class="d-block w-100" width="400" height="400">
        </div>
        <div class="carousel-item">
            <img src="https://laticiniosdavaca.com.br/wp-content/uploads/2015/10/corte_queijo_prato_prod-485x500.jpg" class="d-block w-100" width="400" height="400"  alt="Sem foto">
        </div>
        <div class="carousel-item">
            <img src="https://laticiniosdavaca.com.br/wp-content/uploads/2015/10/corte_manteigas_prod-485x500.jpg" class="d-block w-100" width="400" height="400" alt="Sem foto">
        </div>
    </div>
</div>

-->
